<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>
    <div id="app">
        <p>聊天</p>
        <div style="width: 300px; height: 200px; background-color: red; overflow: auto;">

            <p v-for="item in arr" :style="{textAlign: item.name==='yj' ?'right':'left'}">
                <span>{{ item.name }}</span>
                <span>{{ item.nr }}</span>
                <span>{{ item.date }}</span>
            </p>

        </div>
        <input type="text" v-model="nr" @keydown.enter.ctrl.exact="ee2" @keydown.enter.exact="ee3"><button @click="clickHandle">发送</button>
        <select name="" id="" v-model="dd" @click="ee">
            <option value="" disabled>请选择发送方式</option>
            <option value="en">enter</option>
            <option value="cen">ctrl+enter</option>
        </select>

    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                arr: [],
                nr: "",
                dd: ''
            },
            methods: {
                clickHandle(e) {
                    this.arr.push({
                        name: 'yj',
                        nr: this.nr,
                        date: new Date().toLocaleDateString()
                    })
                    this.nr = ""
                },
                ee() {
                    console.log(this.dd)
                },
                ee2() {
                    if (this.dd == 'cen') {
                        this.arr.push({
                            name: 'yj',
                            nr: this.nr,
                            date: new Date().toLocaleDateString()
                        })
                        this.nr = ""
                    }
                },
                ee3() {
                    if (this.dd == 'en') {
                        this.arr.push({
                            name: 'yj',
                            nr: this.nr,
                            date: new Date().toLocaleDateString()
                        })
                        this.nr = ""
                    }
                }
            }
        })
        setInterval(() => {
            vm.arr.push({
                name: 'yj2',
                nr: 'scscsdcsd',
                date: new Date().toLocaleDateString()
            })
        }, 3000)
    </script>
</body>

</html>