<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
    <div id="app">

    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data:{
                open:'11'
            },
            template:`
                <div>
                    {{ open }}
                    <br>
                    <input type="text" v-model="open"/>
                    <myComponents v-model="open" />
                </div>
            `,
            components: {
                myComponents: {
                    props:{
                        value:String
                    },
                    data(){
                        return{
                            open:this.value
                        }
                    },
                    watch:{
                        open(a,b){
                            this.$emit('input',this.open)
                        },
                        value(a,b){
                            this.open=this.value                          
                        }
                    },
                    methods: {
                        fn() {
                            console.log(this)
                        }
                    },
                    template: `
                    <div>
                        <input type="text" v-model="open"/>
                    </div>
                    `
                }
            }

        })
    </script>
</body>

</html>

</html>